<div class="container-fluid">
    <div class="row">


<% if current_user %>
    <p>Hi <%= current_user.username %></p>
<% end %>

   <div class=" org2 text-center col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h1 class="text-center">create an event </h1>
    <button style="z-index:100;" class="btn btn-primary btn-lg" href="#" role="button"><%= link_to "Learn more", new_event_path%></button></div>
   
   <div class=" pnk text-center col-lg-6 col-md-6 col-sm-6 col-xs-12"><h1 class="text-center">join a group</h1><button style="z-index:100;" class="btn btn-primary btn-lg" href="#" role="button"><%= link_to "Learn more", events_path%></button></div>
            <!-- <div class=" welcome3 col-xs-6 col-md-6">
                <button style="z-index:100;" class="btn btn-primary btn-lg" href="#" role="button">Learn more</button>
            </div>
                <div class=" welcome4 col-xs-6 col-md-6">
                    <button style="z-index:100;" class="btn btn-primary btn-lg" href="#" role="button">Learn more</button> -->
    </div>
<div class="g-grid"></div>
    <div class="welcome-about row">
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h1>im bored</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h1>stuff to do</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
<div class="panel panel-default">
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>

</div>

