<h3>Edit Event</h3>
<%= form_for @event do |f| %>
	<%= f.text_field :title, placeholder:"Write text here..." %>
	<%= f.text_field :body, placeholder:"Write text here..." %>
	<%= f.submit "Post" %>
<% end %>