
<div class="container">

    <div class="row">
        <h1 id="title">
         Hang Outs</h1>
    </div>
    <% @events.each do |event| %>
  <!--   <div class="row"> -->
    
        <div class="col-sm-3">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <%= image_tag event.image.url(:thumb), style: "DateUserName" %>
                </div>
                <div class="content">
                  

                    <h4><%= link_to event.title.capitalize, event_path(event.id) %> </h4><br>
                    <p>With <%= link_to event.user.username.capitalize, profile_path(event.user.username, :class => "btn btn-default") %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>


	

