<div id="posts-containter">
	<p>
		<% @users.each do |user|%>
			<%= image_tag user.avatar.url(:thumb)%>
			<%= user.username %>:
			<%= user.events.last.title %> <br> <br>
		<% end %>
	</p>
<!-- <%= render @events %>  -->

</div