<div id="posts-containter">
	<p>
		<% @events.each do |event| %>
			<%= image_tag event.user.avatar.url(:thumb)%>
			<%= event.user.username %>
			<%= event.title %>
			<br>
			<br>
		<% end %> 
	</p> 


<!-- <%= render @events %>  -->

</div