<div id="posts-containter">
	<h1>Recent Events</h1>
	<p><% @users.each do |user| %>
	<div>
		<%= image_tag user.avatar.url(:thumb) %>
		<p> <%= link_to user.username, profile_path(user.username) %> </p>
		<% end %>
	</p>
	</div>
<!-- 	<%= render @events %> -->

</div>