/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body {
	font-family: Arial;
	font-size: 18px;
	background-color: purple;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: .15em 1em;
	background-color: white;
	border-bottom: 1px solid #68D1FF;

}

header nav a{
	text-decoration: none;
	color: purple;
	padding: .15em 1em;
	margin-left: 0.5em;
}

header nav a:hover {
	background-color: yellow;
	border-radius: 50%;
}

nav ul li{
	display: inline;
}
main{
	margin: 100px auto;
	width: 100%:;
	padding: 2em;
	background-color: white;
	border-radius: 2px 12px;
}

footer{
	text-align: center;
	color:white;
	margin-top: -2em;
	padding: -2.5em 0em;
	list-style-type: none;
}

#notice{
	color: yellow;
}


#posts_index{
	border: 1px solid purple;
	margin-left: -3em;
	width: 1000px;

}

#posts_index li{
	color: purple;
	border-collapse: collapse;
	border: 1px solid purple;
	list-style-type: none;
	padding: 0.50em 0.50em;
	float:left;
}

@media all and (max-width: 500px){
	body {
	font-family: Arial;
	font-size: 1em;
	background-color: purple;

	}
	header{
		width: 100%;
		padding: .15em 1em;
		background-color: white;
		border-bottom: 1px solid #68D1FF;

	}

	header nav a{
		text-decoration: none;
		color: purple;
		padding: .15em 1em;
		margin-left: 0.5em;
	}

	header nav a:hover {
		background-color: yellow;
		border-radius: 50%;
	}

	nav ul li{
		display: inline;

	} 
}*/